
html, body {
    height: 130%;
    width: 100%;
    background-color:rgb(235, 234, 229);
  }

.navbar{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color:rgb(235, 234, 229);
    color: black;
    border-radius: 2%;
}


.button{
    color: rgb(109, 102, 102);
}
/* Color del texto al pasar el mouse por encima */
.button:hover {
    color: blueviolet; 
}

.gamor{
    color: black;
    
    font-size:200%;
}


.primarybutton{
    padding: 10px 10px; 
    text-align: center; 
    cursor: pointer; 
   
}

.createbutton{
    border-radius: 20px;
    background-color: rgb(1, 26, 46); 
    color: white;
    font-weight: 600;
}

.textbutton{
    border: none;
    background-color: transparent;
    font-weight: 500;
    
}

.signinbutton{ 
    cursor: pointer; 
}

.mainbord{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    left: 5%;
    right: 5%;
    
    height: 70%;
    width: 85%;
    border-radius: 2%;
    background-color:whitesmoke;
    color: black;
   

}

.principal{
    display: flex;
    height: 50%;
    width: 100%;
    border-radius: 2%;
    

    
}

.first{
    padding-top: 8%;
    padding-left: 1%;
    width: 33%;
    height: 100%;
    border-radius: 2%;


}
.secundarybutton{
    font-size: 200%;
    position: relative;
    left: 20%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 520;
}
.streaming{
    color: orangered;
}

.textdiv{
    position: relative;
    top: 20%;
    left:8%;
    font-weight: 500;
    color: rgb(109, 102, 102);
}

.carruseltext {
    position: relative;
  }
  
  .textoCarrusel {
    display: none;
    width: 100%;
    height: auto;
  }

.seconddiv{
    height: 10%;
    position: relative;
    top: 30%;
    padding-left: 22%;
    display: flex;
    align-items: center;
}

.createbutton2{
    border-radius: 20px;
    font-weight: 600;
    border-color: aliceblue;
    background-color: whitesmoke;

}

.anuncio{
    width: 34%;
}

.carrusel { 
    position: relative; 
  } 
   
  .imagenCarrusel { 
    display: none; 
    width: 100%; 
    height: 50%; 
  } 
   
  .imagenCarrusel img { 
    width: 100%; 
    height: 253%; 
  } 

  .searchdiv{
    display: flex;
    flex-direction: column;
    padding-left: 7%;
  }

  .thirddiv{
    
    position: relative;
    top: 2%;
    
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 250, 250, 0.877);
    
  }

  .threebuttons{
    
    font-weight: 500;
    border-color:rgba(255, 250, 250, 0.877);
    
  }

  .buttoncolor{
    color: rgb(109, 102, 102);
    border: none;
    background-color: transparent;
    
}

.buttoncolor:hover{
    background-color: rgb(187, 190, 194);
    color: black;
    border-radius: 20px;
}

.text{
    font-weight: 100;
    position: relative;
    
}

.search{
    position: relative;
    top: 5%;
}

.warzone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 250, 250, 0.877);
    position: relative;
    top:5%;
    height: 7%;
    width: 160%;
}

.gamelist{
    
    height: 100%;
    width: 160%;
    background-color:rgba(255, 250, 250, 0.877);
    overflow-y: auto;
}

.table{
    font-weight: 550;
}

.searchbutton{
    position: relative;
    top: 27%;
    width: 160%;
    
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 300;
}
.filters{
    display: none;
    position: relative;
    
    width: 30%;
    height: 100%;
}

.Categoriesdiv{
    position: relative;
    top: 17%;
    left: 8%;
    
}

.trending{
    font-weight: 700;
}


@media (prefers-color-scheme: dark) {
    .body {
      background-color: rgba(0, 0, 0, 0.342);
    }
  }

